*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%) ;

}
.container{
    background-color: white;
    border: 0px solid white;
    border-radius: 20px;
    width: 370px;
    position: relative;
    margin: 0px auto;
    top: 200px;
    height: 550px;
}
.img1{
    width:330px;
    justify-content: center;
    margin: 15px;
    position: relative;
    left: 5px;
    border-radius: 10px;
}
h1{
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    padding: 20px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    position: relative;
    bottom: 15px;

}   
p{
    color:  hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    position: relative;
    bottom: 35px;
    margin: 15px;
    text-align: center;
    padding: 2px;

}   

@media screen and  (max-width:375px){
    .container{
        max-width: 375px;
    }
    
}

@media screen and (max-width:1440px) {
        .container{
            max-width: 1440px;
        }
        
}